<app-bubble-illustration
  class="bubble-illustration anchor"
  side="left"
  avatar="https://randomuser.me/api/portraits/women/76.jpg"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="right"
  avatar="https://randomuser.me/api/portraits/women/67.jpg"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration"
  side="right"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="left"
  avatar="https://randomuser.me/api/portraits/men/12.jpg"
  [reactions]="['👍', '🎉']"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="right"
  avatar="https://randomuser.me/api/portraits/women/67.jpg"
></app-bubble-illustration>
