<h1 id="heading">{{ 'Home.SignIn.Heading' | translate }}</h1>

<a id="register-redirect" routerLink="../create-account">
  {{ 'Home.SignIn.RegistrationRedirect' | translate }}
</a>

<form [formGroup]="form" id="form">
  <!-- UserName/Email field -->
  <div class="field-row">
    <mat-icon class="icon">person</mat-icon>
    <mat-form-field class="field">
      <input matInput formControlName="userNameOrEmail" autocomplete="off" spellcheck="false"/>
      <mat-placeholder class="placeholder">
        {{ 'Home.SignIn.UserNameOrEmail.Placeholder' | translate }}
      </mat-placeholder>
    </mat-form-field>
  </div>

  <!-- Password field -->
  <div class="field-row">
    <mat-icon class="icon">vpn_key</mat-icon>
    <mat-form-field class="field">
      <input matInput type="password" formControlName="password" autocomplete="off" spellcheck="false"/>
      <mat-placeholder class="placeholder">
        {{ 'Home.SignIn.Password.Placeholder' | translate }}
      </mat-placeholder>

      <!-- Error message -->
      <mat-error *ngIf="password.hasError('credentialsIncorrect')">
        {{ 'Home.SignIn.Error.Login' | translate }}
      </mat-error>

      <mat-hint [align]="'end'" class="hint">
        <a href="#" id="forgot-password-redirect">
          {{ 'Home.SignIn.ForgotPasswordRedirect' | translate }}
        </a>
      </mat-hint>
    </mat-form-field>
  </div>
</form>

<!-- Submit button -->
<button id="submit-button" type="button" (click)="submit()" [disabled]="form.invalid" [class.disabled]="form.invalid">
  {{ 'Home.SignIn.Submit' | translate }}
</button>
