<h1 id="heading">{{ 'Home.SignIn.Heading' | translate }}</h1>

<a id="register-redirect" routerLink="../create-account">
  {{ 'Home.SignIn.RegistrationRedirect' | translate }}
</a>

<form [formGroup]="form" id="form">
  <!-- UserName/Email field -->
  <app-form-field
    prefixIcon="person"
    [control]="userNameOrEmail"
    [placeholder]="'Home.SignIn.UserNameOrEmail.Placeholder' | translate"
    [errorMappings]="userNameOrEmailMappings"
  ></app-form-field>

  <!-- Password field -->
  <app-form-field
    type="password"
    prefixIcon="vpn_key"
    [control]="password"
    [hint]="'Home.SignIn.ForgotPasswordRedirect' | translate"
    [placeholder]="'Home.SignIn.Password.Placeholder' | translate"
    [errorMappings]="passwordMappings"
  ></app-form-field>
</form>

<!-- Submit button -->
<button id="submit-button" type="button" (click)="submit()" [disabled]="form.invalid" [class.disabled]="form.invalid">
  {{ 'Home.SignIn.Submit' | translate }}
</button>
