:host {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #eee;

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

#avatar {
  background-color: #C4C4C4;
  border-radius: 50%;
  padding: 30px;
  margin-right: 10px;
}

#recipient-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #recipient-name {
    font-size: 17px;
    font-weight: 500;
  }

  #timestamp {
    color: #878787;
  }
}

#spacer {
  flex-grow: 1;
}

#bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #content-wrapper {
    color: #878787;
    display: flex;
    align-items: center;
    // flex: 1;
    min-width: 0;

    #message-content {
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }

  #unread-messages {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#read-indicator {
  display: flex;
  align-items: center;
  font-size: 17px;

  &.read {
    color: #4fc3f7;
  }
}
