:host {
  display: flex;
}

#avatar {
  background-color: #C4C4C4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

#bubble {
  background-color: white;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 15%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &.own-message {
    background-color: #D7DFCB;
  }
}

#author {
  color: #2EA6DA;
  font-weight: 500;
}

#content-wrapper {
  display: flex;
  align-items: flex-end;

  #content {
    flex: 1;
  }

  #timestamp {
    color: #878787;
    margin-left: 15px;
    margin-right: 5px;
  }

  #read-indicator {
    display: flex;
    align-items: center;
    color: #878787;
    font-size: 16px;

    &.read {
      color: #4fc3f7;
    }
  }
}
