:host {
  display: flex;
  flex-shrink: 0;
  background-color: #4B71BB;
  color: white;
  height: 64px;
  align-items: center;
  padding: 0 10px 0 20px;
  font-size: 22px;
}

#spacer {
  flex: 1 auto;
}

#heading {
  margin-left: 18px;
}

#add-button, #menu-button {
  width: 48px;
  height: 48px;
  line-height: 48px;

  mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

#search-bar {
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  flex: 1 1 auto;
  font-size: 16px;
}
