<h1 id="heading">{{ 'Home.CreateAccount.Heading' | translate }}</h1>

<a routerLink="../sign-in" id="login-redirect">{{ 'Home.CreateAccount.LoginRedirect' | translate }}</a>

<form [formGroup]="form" id="form">
  <!-- UserName field -->
  <app-form-field
    prefixIcon="person"
    [placeholder]="'Home.CreateAccount.UserName.Placeholder' | translate"
    [control]="userName"
    [errorMappings]="userNameMappings"
  ></app-form-field>

  <!-- Email field -->
  <app-form-field
    prefixIcon="alternate_email"
    [placeholder]="'Home.CreateAccount.Email.Placeholder' | translate"
    [control]="email"
    [errorMappings]="emailMappings"
  ></app-form-field>

  <!-- Password field -->
  <app-form-field
    prefixIcon="vpn_key"
    [placeholder]="'Home.CreateAccount.Password.Placeholder' | translate"
    [control]="password"
    [suffixIcon]="passwordsHidden ? 'visibility' : 'visibility_off'"
    [type]="passwordsHidden ? 'password' : 'text'"
    [errorMappings]="passwordMappings"
    (suffixClick)="passwordsHidden = !passwordsHidden"
  ></app-form-field>

  <!-- Password confirm field -->
  <app-form-field
    prefixIcon="vpn_key"
    [placeholder]="'Home.CreateAccount.PasswordConfirm.Placeholder' | translate"
    [control]="passwordConfirm"
    [suffixIcon]="passwordsHidden ? 'visibility' : 'visibility_off'"
    [type]="passwordsHidden ? 'password' : 'text'"
    [errorMappings]="passwordConfirmMappings"
    (suffixClick)="passwordsHidden = !passwordsHidden"
  ></app-form-field>
</form>

<!-- Submit button -->
<button id="submit-button" type="button" [disabled]="form.invalid" [class.disabled]="form.invalid">
  {{ 'Home.CreateAccount.Continue' | translate }}
</button>
