<!-- Application name -->
<span id="title" routerLink="/home">
  <mat-icon>insert_comment</mat-icon>
  <span id="application-name">{{ 'Application.Title' | translate }}</span>
  <mat-icon>textsms</mat-icon>
</span>

<span id="horizontal-spacer"></span>

<!-- Navigation -->
<nav class="navigation-items">
  <span routerLink="features" routerLinkActive="active">{{ 'Home.Navigation.Features' | translate }}</span>
  <span routerLink="about" routerLinkActive="active">{{ 'Home.Navigation.About' | translate }}</span>
  <app-language-selector></app-language-selector>
</nav>
