:host {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  padding: 20px 0;
}

#title {
  margin: 0 50px 0 20px;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;

  #application-name {
    color: #C440E4;
    margin: 0 10px;
  }
}

#horizontal-spacer {
  flex: 1 auto;
}

.navigation-items {
  display: flex;
  align-items: center;
  font-size: 16px;

  * {
    margin: 0 50px;
    cursor: pointer;
  }
}

.active {
  text-decoration: underline;
}
