:host {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

#bubble {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  width: 250px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.51);
  border-radius: 5px;

  #header {
    color: #2EA6DA;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
  }

  #content {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    #message {
      font-size: 15px;
    }

    #timestamp {
      font-size: 15px;
      color: #878787;
    }
  }
}

.anchor-left {
  background-color: #fff;

  &::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
  }
}

.anchor-right {
  background-color: #C3F2FD !important;

  &::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #C3F2FD;
    border-right: 10px solid transparent;
    border-top: 10px solid #C3F2FD;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
  }
}

app-user-avatar {
  margin: 0 30px;
}
