
:host {
  display: flex;
  align-items: center;
  flex: 0 0 auto;

  padding: 0 10px;
  height: 64px;
  background-color: #D9D9D9;
}

#text-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

#online-indicator-text {
  color: #878787;
  font-size: 14px;
}

#more-button {
  width: 48px;
  height: 48px;
  line-height: 48px;

  mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
