<!-- Prefix icon -->
<mat-icon *ngIf="prefixIcon" id="prefix-icon" >{{ prefixIcon }}</mat-icon>

<!-- Form field -->
<mat-form-field id="field">
  <input matInput autocomplete="off" spellcheck="false" [formControl]="control" [type]="type" appValidationTooltip/>

  <mat-placeholder>{{ placeholder }}</mat-placeholder>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

  <!-- Suffix Button -->
  <button *ngIf="suffixIcon && control.value" type="button" tabindex="-1" mat-icon-button matSuffix (click)="suffixClick.emit()">
    <mat-icon>{{ suffixIcon }}</mat-icon>
  </button>
</mat-form-field>
