<!-- Prefix icon -->
<mat-icon *ngIf="prefixIcon" id="prefix-icon" >{{ prefixIcon }}</mat-icon>

<!-- Form field -->
<mat-form-field id="field">
  <input
    matInput
    spellcheck="false"
    autocomplete="off"
    [type]="type"
    [formControl]="control"
  />

  <mat-placeholder>{{ placeholder }}</mat-placeholder>

  <mat-hint *ngIf="hint" [align]="'end'">
    <a [routerLink]="routerLink">{{ hint }}</a>
  </mat-hint>

  <!-- Error messages -->
  <mat-error *ngFor="let mapping of errorMappings | keyvalue | errorOrder">
    <span *ngIf="control.hasError(mapping.key)">
      {{ mapping.value.message | translate}}
    </span>
  </mat-error>

  <!-- Suffix Button -->
  <button
    matSuffix
    mat-icon-button
    type="button"
    tabindex="-1"
    *ngIf="suffixIcon && control.value"
    [disabled]="!isSuffixClickable"
    [style.color]="suffixColor"
    (click)="onSuffixClick($event)">
    <mat-icon>{{ suffixIcon }}</mat-icon>
  </button>
</mat-form-field>
