<app-bubble-illustration
  class="bubble-illustration anchor"
  side="left"
  avatar="https://randomuser.me/api/portraits/women/17.jpg"
  [reactions]="['😁']"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="right"
  avatar="https://randomuser.me/api/portraits/men/52.jpg"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="left"
  avatar="https://randomuser.me/api/portraits/men/32.jpg"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration"
  side="left"
></app-bubble-illustration>

<app-bubble-illustration
  class="bubble-illustration anchor"
  side="right"
  avatar="https://randomuser.me/api/portraits/men/52.jpg"
  [reactions]="['👍', '😁']"
></app-bubble-illustration>
