
<!-- Illustration of chat bubbles -->
<div id="container" [class]="side" [style.flexDirection]="side === 'left' ? 'row' : 'row-reverse'">
  <!-- Avatar image -->
  <div id="avatar" [style.display]="avatar ? 'initial' : 'hidden'" [style.backgroundImage]="avatar ? 'url(' + avatar + ')' : ''"></div>

  <!-- Chat bubble -->
  <div id="bubble" >
    <div id="anchor" *ngIf="avatar"></div>

    <!-- Message reactions -->
    <div id="reaction" *ngIf="reactions.length">
      <span *ngFor="let reaction of reactions">{{reaction}}</span>
    </div>
  </div>
</div>
