:host {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #222428, #444856);
  display: flex;
  flex-direction: column;
}

#github-reference {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;

  img {
    height: 50px;
    width: auto;
  }
}
