<ng-container *ngIf="messages$ | async as messages">

  <!-- List of Contacts -->
  <app-contacts-row
    *ngFor="let message of messages; trackBy: trackByFn"
    [message]="message"
    [isActive]="(activeMessage$ | async) === message"
    (click)="setActiveMessage(message)"
    (keydown.enter)="setActiveMessage(message)"
    (keydown.space)="setActiveMessage(message)">
  </app-contacts-row>

  <!-- No Message -->
  <p id="no-messages" *ngIf="messages.length === 0">
    You don't have any messages yet.
  </p>
</ng-container>
