<!-- Header -->
<div id="header">
  <span id="title" class="mat-headline">Create an account</span>
  <mat-icon>person_add</mat-icon>
</div>

<!-- Content -->
<div id="content">
  <form [formGroup]="form">
    <!-- Display Name field -->
    <mat-form-field>
      <input matInput placeholder="Display name" formControlName="displayName" spellcheck="false" autocomplete="off">
    </mat-form-field>

    <!-- Email field -->
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" spellcheck="false" autocomplete="off">

      <mat-error *ngIf="email.hasError('email')">Please provide a valid email address</mat-error>

      <!-- Email availability indicators -->
      <mat-icon matSuffix *ngIf="email.valid && (emailTaken$ | async) === false" id="check-icon">check</mat-icon>
      <mat-icon matSuffix *ngIf="email.valid && (emailTaken$ | async) === true" id="cross-icon">close</mat-icon>
      <mat-progress-spinner
        matSuffix
        *ngIf="email.valid && (emailTaken$ | async) === null && (isLoading$ | async)"
        mode="indeterminate"
        diameter="17">
      </mat-progress-spinner>
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" spellcheck="false">

      <mat-error *ngIf="password.hasError('pattern')">Please provide a password without spaces</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must be at least 8 characters long</mat-error>
    </mat-form-field>

    <!-- Confirm password field -->
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm password" formControlName="passwordConfirm" spellcheck="false">

      <mat-error *ngIf="passwordConfirm.hasError('mustMatch')">Passwords don't match</mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">
      Create Account
    </button>
  </form>
</div>

<!-- Login Action Button -->
<a id="action" tabindex="0" routerLink="/auth/login">
  Already have an account? Sign in!
</a>
