:host {
  position: relative;
  background-color: white;
  width: 500px;

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #4B71BB;
    color: white;
    margin: 0;

    #title {
      margin: 0;
    }
  }

  #content {
    padding: 20px;

    mat-form-field {
      width: 100%;
    }

    a {
      color: #2B52DC;
    }

    button[type=submit] {
      margin-top: 10px;
    }
  }

  #action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #DBE4F4;
    color: #6B6B6B;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
      background-color: darken(#DBE4F4, 5%);
    }
  }
}

#check-icon {
  color: green;
}
#cross-icon {
  color: red;
}
