
<!-- Slogan -->
<div id="slogan">
  <p>
    <span>{{ 'Home.Landing.Slogan.Part1' | translate }}</span>
    <span class="highlighted">{{ 'Home.Landing.Slogan.Part2' | translate }}</span>
  </p>

  <p>
    <span>{{ 'Home.Landing.Slogan.Part3' | translate }}</span>
    <span class="highlighted">{{ 'Application.Title' | translate }}</span>
  </p>
</div>

<!-- Call-To-Action Button -->
<button id="call-to-action" routerLink="sign-in">
  <mat-icon>insert_comment</mat-icon>
  <span>{{ 'Home.Landing.CallToAction' | translate }}</span>
</button>
