:host {
  display: flex;
  flex: 0 0 auto;
  align-items: center;

  height: 64px;
  background-color: #D9D9D9;
}

#attach-button, #send-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 0 10px;

  mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

#attach-button {
  color: rgb(99, 99, 99);
  transform: rotate(-135deg);
}

#message-input {
  flex: 1;
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 16px;
}

#send-button {
  color: #4B71BB;
}

.disabled {
  color: #aaa;
}
