<!-- Strip when Chat is active -->
<div id="active-strip" *ngIf="isActive"></div>

<!-- User Avatar -->
<app-user-avatar [image]="latestMessage.image"></app-user-avatar>

<div id="row-content">
  <!-- Contact Name + Timestamp -->
  <div class="text-row">
    <span id="contact-name">{{ latestMessage.userRecipient ? latestMessage.userRecipient.displayName : latestMessage.groupRecipient.name }}</span>
    <span id="last-message-timestamp">{{ contact.message.createdAt | chatTimestamp }}</span>
  </div>

  <!-- Latest Message + Number of unread Messages -->
  <div class="text-row">
    <span id="last-message">{{ latestMessage.authorName }}: {{ latestMessage.textContent }}</span>
    <div id="unread-messages-badge" *ngIf="latestMessage.unreadMessagesCount">{{ latestMessage.unreadMessagesCount }}</div>
  </div>
</div>
