@import '../../../styles/mixins.scss';

:host {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;

  transition: width 400ms ease-in-out;

  @include md { width: 40%; }
  @include lt-md { width: 50%; }
}
