:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #343B56;
}

#item-container {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: #525F8E;
  }
}
