
#menu-trigger {
  display: flex;
  align-items: center;
  padding: 10px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;

  #flag {
    margin-left: 10px;
  }
}

::ng-deep .mat-menu-panel {
  background-color: #343B56;
}

.language-item {
  cursor: pointer;
}
