
<!-- Trigger button displaying the current selected language -->
<button tabindex="0" id="menu-trigger" [matMenuTriggerFor]="menu" *ngIf="selectedLanguage$ | async as language">
  <span id="language-name">{{ language.name | translate }}</span>
  <img id="flag" [src]="language.countryFlagImage" height="20px" width="auto"/>
  <mat-icon>expand_more</mat-icon>
</button>

<!-- Menu listing available languages -->
<mat-menu #menu id="menu" [overlapTrigger]="true" (click)="$event.stopPropagation()">
  <app-language-item
    class="language-item"
    *ngFor="let language of languages$ | async"
    [language]="language"
    [isSelected]="language.languageId === (selectedLanguageId$ | async)"
    (selectLanguage)="selectLanguage(language.languageId)">
  </app-language-item>
</mat-menu>
